_*
!__snapshots__
dist
src/RustServer/target
src/AppleScriptServer/Release
build
swift-server.node
libNodeAPI.dylib

.DS_Store
node_modules
.eslintcache
npm-debug.log*
yarn-debug.log*
yarn-error.log*

xcuserdata/
DerivedData/
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata

# SwiftLint Remote Config Cache
.swiftlint/RemoteConfigCache
